{% extends "main.twig" %}

{% block head %}
  <script src="https://services.cognitoforms.com/s/SkK_LHLpKUmLPQLt_eXuZQ"></script>
{% endblock head %}

{% block background %}
  <div class="background">
{% endblock background %}

{% block backgroundBottom %}
    <div class="mainH1">
      <h1>Contact Us</h1>
      <div class="cognito">
        <script>Cognito.load("forms", { id: "4" });</script>
      </div>
    </div>
  </div>
{% endblock backgroundBottom %}

{% block content %}
  <div class="homeMain">
    <h1>Experienced Corporate Lawyers</h1>
      <h3>Experience</h3>
        <p>White, Wyne, and Bree LLC. has over 50 years of corporate law experience between James White, Charlotte Wyne, and Carolyn Bree. They specialize in matters regarding intellectual property, mergers & acquisitions, corporate tax law, and employment & labor law. WWB has clients ranging from small businesses to Fortune 500 companies. We look forward to putting our experience to work for you. <a href="{{siteUrl('/contact')}}">Contact Us Now</a>!</p>
        <br>
        <p>White, Wyne, and Bree have won numerous awards including being named one of the Best Law Firms in America by The Law Mag. Other awards include being named an Elite Lawyer by Lawyers Unlimited Magazine and Best for Non-Profits by Non-Profit Online.</p>
  </div>
  <div class="homeSecondary">
    <h1>Areas of Practice</h1>
      <h3><a href="{{siteUrl('/practice-areas')}}#intellectual">Intellectual Property</a></h3>
        <p>White, Wyne, and Bree&#039;s intellectual property division provides counsel on a wide range of business and legal issues.<br><a class="readMore" href="{{siteUrl('/practice-areas')}}#intellectual">Read more...</a></p>
      <h3><a href="{{siteUrl('/practice-areas')}}#merger">Mergers & Acquisitions</a></h3>
        <p>White, Wyne, and Bree&#039;s mergers and acquisitions division has provided their expertise to many companies over the years, with industries including technology, manufacturing, and consumer products and services.<br><a class="readMore" href="{{siteUrl('/practice-areas')}}#merger">Read more...</a></p>
      <h3><a href="{{siteUrl('/practice-areas')}}#labor">Employment & Labor Law</a></h3>
        <p>White, Wyne, and Bree&#039;s employment and labor division are experts in working with businesses including private companies, publicly traded companies, governmental entities, and nonprofits. WWB&#039;s employment and labor division has relationships with clients of all sizes. WWB works collaboratively to improve employee/employer relations and avoid legal liability.<br><a class="readMore" href="{{siteUrl('/practice-areas')}}#labor">Read more...</a></p>
      <h3><a href="{{siteUrl('/practice-areas')}}#tax">Corporate Tax Law</a></h3>
        <p>White, Wyne, and Bree&#039;s corporate taxation division provides outstanding counsel for clients who have questions on a bevy of tax issues. WWB&#039;s attorneys actively practice in federal tax-exempt status, federal and state income tax, federal estate and gift taxation, and employee benefits.<br><a class="readMore" href="{{siteUrl('/practice-areas')}}#tax">Read more...</a></p>
  </div>
{% endblock content %}
