<!doctype html>
{% block html %}<html lang="en">{% endblock html %}
  <head>
      <link rel="shortcut icon" href="{{ baseUrl }}img/favicon.ico">
      <title>White, Wyne, and Bree | {% block title %}Home{% endblock title %}</title>
      <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{ baseUrl }}css/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
      <script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script>
      <script src="../js/app.js"></script>
      {% block head %}
      {% endblock head %}
  </head>
  <body>
    {% block background %}
    {% endblock background %}
      <header>
        <div class="header">
          <div class="logo">
            <a href="{{siteUrl('/home')}}"><h1>My Logo Here!</h1>
            <h4>White, Wyne, and Bree</h4></a>
          </div>
          <div class="callUs">
            <h1>Call Us</h1>
            <h4><a href="tel:904-555-8432">904-555-8432</h4>
            <!-- <h4><a href="mailto:info@mountmckinney.com" class="social"><img src="{{ baseUrl }}img/mail.svg" alt="Mail icon" /></a></h4> -->
          </div>
        </div>
      </header>
      <nav>
        <div id="menubar">
            <div class="menuBtn">
                 <div></div>
                 <span></span>
                 <span></span>
                 <span></span>
            </div>
        </div>
        <!-- mobile menu -->
        <div class="mobileMenu">
        	<h3>Menu <a href="#" class="mobileMenuToggle menuBtn">×</a></h3>
          	<ul>
              <a href="{{siteUrl('/home')}}"><li>Home</li></a>
              <a href="{{siteUrl('/practice-areas')}}"><li>Practice Areas</li></a>
              <a href="{{siteUrl('/our-attorneys')}}"><li>Our Attorneys</li></a>
              <a href="{{siteUrl('/contact')}}"><li>Contact</li></a>
              <a href="{{siteUrl('/about')}}"><li>About The Firm</li></a>
              </ul>
          </div>

          <!-- desktop menu -->
        <div class="desktopMenu">
          <ul>
            <a href="{{siteUrl('/home')}}"><li>Home</li></a>
            <a href="{{siteUrl('/practice-areas')}}"><li>Practice Areas</li></a>
            <a href="{{siteUrl('/our-attorneys')}}"><li>Our Attorneys</li></a>
            <a href="{{siteUrl('/contact')}}"><li>Contact</li></a>
            <a href="{{siteUrl('/about')}}"><li>About The Firm</li></a>
          </ul>
        </div>
      </nav>
    {% block backgroundBottom %}
    </div>
    {% endblock backgroundBottom %}
    <main>
      {% block jumbotron %}
      {% endblock jumbotron %}
      <div class="wrapper">
        {% block content %}
        {% endblock content %}
      </div>
    </main>
    {% block footer %}
      <footer>
        <div class="desktopMenu">
          <ul>
            <a href="{{siteUrl('/home')}}"><li>Home</li></a>
            <a href="{{siteUrl('/practice-areas')}}"><li>Practice Areas</li></a>
            <a href="{{siteUrl('/our-attorneys')}}"><li>Our Attorneys</li></a>
            <a href="{{siteUrl('/contact')}}"><li>Contact</li></a>
            <a href="{{siteUrl('/about')}}"><li>About The Firm</li></a>
          </ul>
        </div>
        <p><a href="http://mountmckinney.com" id="developer">&copy;{{ "now"|date("Y") }} Mount McKinney</a></p>
        <a href="http://facebook.com/mountmckinney" class="social" id="facebookIcon"><img src="{{ baseUrl }}img/facebook-icon.svg"></a>
        <a href="http://twitter.com/mountmckinney" class="social" id="twitterIcon"><img src="{{ baseUrl }}img/twitter-icon.svg"></a>
      </footer>
    {% endblock footer %}
  </body>
</html>
